.contact-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.how-to--contact {
  color: gray;
}

.email-href {
  color: rgb(60, 170, 60);
  cursor: url("../../UI/Icons/cursor.png") 7 7, auto;
  transition: 0.2s;
}
.email-href:hover {
  transform: scale(2);
  color: blue;
}
.link-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  height: 90%;
  justify-content: space-around;
  align-items: center;
}
.link-container--parent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indiv-icon--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vmin;
}

.icon {
  width: 10vmin;
  transition: 0.2s;
  cursor: url("../../UI/Icons/cursor.png") 7 7, auto;
}
.icon:hover {
  transform: scale(1.2);
}
.github-icon {
  width: 10vmin;
  transition: 0.2s;
  filter: invert(100%);
  cursor: url("../../UI/Icons/cursor.png") 7 7, auto;
}
.github-icon:hover {
  transform: scale(1.2);
}
@media (max-width: 500px) {
  .icon {
    width: 15vmin;
  }
  .github-icon {
    width: 15vmin;
  }
}
