.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indiv-project--container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
