.pages-container {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 20fr 80fr 20fr;
  grid-template-rows: 20fr 80fr 20fr;
  background-color: rgb(12, 106, 12);
}
