/* page layout */
.layout {
  width: 100vw;
  height: 100vh;
  background-color: green;
  display: grid;
  grid-template-columns: 10fr 80fr 10fr;
  grid-template-rows: 10fr 80fr 10fr;
  animation-name: mainContent;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

@keyframes mainContent {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

/* Main Content */
.about {
  grid-row: 2/3;
  grid-column: 2/3;
  border: none;
  background-color: rgb(56, 55, 55);
  border-radius: 25px;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.avatar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-row: 1/2;
  grid-column: 1/4;
  margin: 20px;
}
.avatar {
  width: 10vmin;
  border-radius: 50%;
}

.logo-container {
  grid-row: 1/2;
  grid-column: 1/4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}
.logo {
  border: black solid 0.2px;
  width: 10vmin;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation-name: logo;
  animation-duration: 10s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes logo {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: scale(1.05) rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: scale(1.05) rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  color: rgb(60, 170, 60);
  margin: 10px;
}

.text-content {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  line-height: 200%;
  font-family: "Press Start 2P", cursive;
}

@media (max-width: 650px) {
  .header {
    font-size: medium;
  }
  .text-content {
    font-size: medium;
  }
}
