.line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 1px;
  border: solid #ffffff 0.5px;
  background-color: #49ff18;
  grid-column: 1/4;
  grid-row: 1/4;
  box-shadow: 1px 0px 28px 4px #49ff18;
  -webkit-box-shadow: 1px 0px 20px 2px #49ff18;
  -moz-box-shadow: 1px 0px 20px 4px #49ff18;
  animation-name: line;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes line {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 50%;
  }

  100% {
    opacity: 0%;
    transform: translate(0, 18000%);
  }
}
