.bread-crumb--container {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  margin-left: 10vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  width: 100%;
}

/* home page */
.link {
  font-family: "Press Start 2P", cursive;
  font-size: small;
  color: rgb(60, 170, 60);
  cursor: url("../../components/UI/Icons/cursor.png") 7 7, auto;
}
.link:hover {
  opacity: 80%;
}

/* current location */
.current-location {
  font-family: "Press Start 2P", cursive;
  font-size: small;
  color: rgb(60, 170, 60);
  margin-left: 5px;
}
/* > */
.seperator {
  font-family: "Press Start 2P", cursive;
  font-size: small;
  color: rgb(60, 170, 60);
  margin-left: 5px;
}
