.contact-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  grid-row: 2/3;
}

.email-href {
  color: rgb(60, 170, 60);
}

.form-button {
  max-width: 100px;
  width: 100%;
  background-color: rgb(60, 170, 60);
  font-family: "Press Start 2P", cursive;
  border-color: rgb(56, 55, 55);
}

.body-input--valid {
  color: rgb(118, 118, 118);
  max-width: 500px;
  width: 100%;
  resize: none;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
  font-family: "Press Start 2P", cursive;
  line-height: 150%;
  padding: 5px;
}
.body-input--invalid {
  color: rgb(118, 118, 118);
  max-width: 500px;
  width: 100%;
  resize: none;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
  font-family: "Press Start 2P", cursive;
  line-height: 150%;
  padding: 5px;
  border: solid red 3px;
}

.body-input--valid:focus {
  border-color: rgb(60, 170, 60);
  border: solid rgb(60, 170, 60) 3px;
}

.input-fields--valid {
  color: rgb(118, 118, 118);
  max-width: 500px;
  width: 100%;
  outline: none;
  background-color: transparent;
  font-family: "Press Start 2P", cursive;
  border: solid rgb(118, 118, 118) 1px;
  border-radius: 5px;
  padding: 5px;
}

.input-fields--valid:focus {
  border-color: rgb(60, 170, 60);
  border: solid rgb(60, 170, 60) 3px;
}
.input-fields--invalid {
  color: rgb(118, 118, 118);
  max-width: 500px;
  width: 100%;
  outline: none;
  background-color: transparent;
  font-family: "Press Start 2P", cursive;
  border: solid red 3px;
  border-radius: 5px;
  padding: 5px;
}
.visible-label {
  color: red;
  font-size: small;
}

.hidden-label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.warning {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: small;
  margin: 0;
}
