.contact-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  grid-row: 2/3;
}

.email-href {
  color: rgb(60, 170, 60);
}

.link-container {
  background-color: azure;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.linkedin-icon {
  width: 50px;
}
.instagram-icon {
  width: 50px;
}
.github-icon {
  width: 50px;
}
