/* for the starting page */

.page-container {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: rgb(12, 106, 12);
}

/* .video {
  height: 100vh;
  width: 100vw;
  position: fixed;
  object-fit: cover;
  z-index: -1;
} */

/* after clicking on a page */
.pages-container {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 20fr 80fr 20fr;
  grid-template-rows: 20fr 80fr 20fr;
  background-color: rgb(12, 106, 12);
}
