.container {
  width: 100%;
  height: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link {
  position: relative;
  text-decoration: none;
  color: rgb(60, 170, 60);
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid rgb(60, 170, 60) 1px;
  border-radius: 15px;
  cursor: url("../../UI/Icons/cursor.png") 7 7, auto;
  transition: 0.2s;
}
.link:hover {
  transform: scale(1.01);
}

.snake-game--thumbnail {
  width: 25vmin;
  margin-bottom: 20px;
  border: solid black 1px;
  border-radius: 5px;
}

.button {
  min-width: 10vmin;
  width: 20vmin;
  height: 5vmin;
  margin: 10px;
  background-color: rgb(60, 170, 60);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: solid black 1px;
  font-family: "Press Start 2p", cursive;
  border-radius: 3px;
  transition: 0.2s;
  cursor: url("../../UI/Icons/cursor.png") 7 7, auto;
}
.button:hover {
  transform: scale(1.1);
}

@media (max-width: 400px) {
  .button {
    font-size: x-small;
  }
}
